input[type=text], input[type=password]{
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid black;
    margin-bottom: 10px;
    font-size: 20px;
    padding:10px;
}
input[type=submit]{
    cursor: pointer;
    background: #286090;
    border: 0px;
    border-radius: 3px;
    width: 200px;
    height: 25px;
    color: white;
}
form{
    width: 250px;
    margin: 0px auto;
    margin-top: 15%;
}
table{
    margin: 0px auto;
    margin-top: 15%;
}
#genrate{
    cursor: pointer;
    background: #286090;
    border: 0px;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    color: white;
}
